html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body{
    
    width: 100%;
    justify-content: center;
    position: relative;
}
#one-picture{
    width: 47%;
    display: inline-block;
     
}
.picture{
    width: 49%;
    display: inline-block;
}
.one-picture{
    width: 100%;
    
}
.text{
    
    font-size: 3vh;
   display: block;
   position:absolute;
   opacity: 1;
   top: 40%;
   bottom: 70%;
    text-align: center;
    margin-right: 200px;
    left: 40%;
   

    
}
.container{
    background-image: url("../5576_xvpiracicaba-2014.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    border-bottom: #ffffff solid 5px;
    
}
.container-text{
    
    
    font-size: 20px;
    display: inline-block;
    width: 48%;
    height: 100%;
    opacity: 1;
}
button{
    height: 9vh;
    width:28vh;
    font-size: 3vh;
    background-color: rgb(255, 123, 0);
    border: solid 1px rgb(255, 115, 0);
    border-bottom-left-radius: 10px;
    box-shadow: 0.1em 0.1em 0.4em #ffffff;
    border-top: solid #ffffff 2px;
    border-left: solid #ffffff 2px;
    
    
}
button:hover{
    box-shadow: inset 0.1em 0.1em 0.4em #ffffff;
    cursor: pointer;
    font-size: 2.8vh;
  
}
footer{
    font-size: 3vh;
    text-align: center;
    padding: 30px;
}
.title{
    text-align: center;
}
.form-calculo {
    text-align: right;
    display: inline-block;
    margin: 50px;
    margin-left: 400px;
    color: #ffffff;

}
.form-calculo input , select{
    width: 70px;
    height: 20px;
    margin-bottom: 10px;
}
h1{
    margin-top: 0px;
}
.pic-one{
    height: 11%;
    width: 20%;
    display: block;
    padding: 0px;
    margin: 10px;
    display: inline-block;
    border: solid 1px #fff;
}
.picture-one{
    display: inline-block;
    margin:0px;   
    padding: 0px;
    text-align: center;
    
    
}
.container-pictures{
    
    display: inline-block;
    border-bottom: solid 5px #ffff
}
.logo{
    height: 15%;
    width: 15%;
}
.logo-grupo{
    height: 15%;
    width: 15%;
    border: solid 1px #fff
}
.patrocinadores-container{
    text-align: left;
    margin: 50px;

}
.container-pictures{
    background-image: url("../5576_xvpiracicaba-2014.jpg");
    background-size: cover;
  
    
}
body{
    background-color: black;
    
}
header, nav{
    font-size:4vh;
    
    color: brown;
    background-color: black;
}
h1 ,p ,h2, h3, h4{
    color: #ffff;
}
a{
    color: #ffff;
    text-decoration: none;
}
nav li :hover {
    color: rgb(255, 123, 0);
}
body,html,nav,header{
    margin: 0px;
}
header{border-top: solid 5px #ffffff ;
    border-bottom: solid 5px #ffffff ;
   padding: 20px;
   
}
nav li{
    text-align: right;
    display: inline-block;
    margin-left:50px;
}
footer{
     border-top: solid 5px #fff;
}
.icon_for_about{
    height: 250px;
    width: 250px;
    border: solid 1px #000000;
    border-radius: 30px;
    cursor: pointer;
}
.icon_for_about:hover{
    height: 270px;
    width: 270px;
    border: solid 4px #ffffff;
    border-radius: 30px;
}
.block_for_about{
    display: inline-block;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.sobre-mim{
    justify-content: center;
    align-items: center;
    display: flex;
}
.networks_for_about{
    display: block;
    width: 100%;
}
